.overview {
  .overview__text {
    font-weight: 700;
    margin-top: 3.2rem;
    margin-left: 4rem;
    color: $grey-900;
    font-size: $text-preset-1;
  }

  .cards {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin: 3.2rem 4rem;

    :global(.collapsed) & {
      margin-right: -17rem;
    }
  }

  .card {
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    flex: 1;
    width: 33.7rem;
    height: 11.9rem;
    padding: 2.4rem;

    .overview__texts {
      display: block;
      margin-bottom: 0.5rem;
      font-size: $text-preset-4;
      font-weight: 400;
      margin-bottom: 1.2rem;
      color: $grey-500;
    }

    .overview__title {
      font-size: $text-preset-1;
      font-weight: 700;
      color: $grey-900;
    }
  }

  .balance {
    background: $grey-900;

    .overview__title {
      color: $white;
    }

    .overview__texts {
      color: $white;
      font-weight: 400;
    }
  }
}

.pots {
  width: 60.8rem;
  height: 21.8rem;
  margin: 3.2rem 2.4rem 2.4rem 4rem;
  background: $white;
  padding: 3.2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

  .potsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .pots__text {
      color: $grey-900;
      font-size: $text-preset-2;
      font-weight: 700;
    }

    .pots__link {
      display: inline-flex;
      align-items: center;
      gap: 1.2rem;
      font-size: $text-preset-4;
      color: $grey-500;
      cursor: pointer;
      font-weight: 400;

      .pots__icon {
        width: 1.1rem;
        height: 1.1rem;
        object-fit: contain;
      }
    }
  }

  .potsContent {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;

    .totalSaved {
      width: 24.7rem;
      height: 11rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      background: $beige-100;
      padding-top: 2rem;
      padding-left: 1.6rem;
      border-radius: 1.2rem;
      flex: 1;

      .icon {
        width: 2.6rem;
        height: 3.2rem;
        object-fit: contain;
      }

      .pots__total {
        font-size: $text-preset-4;
        font-weight: 400;
        color: $grey-500;
      }

      .pots__totals {
        font-size: $text-preset-1;
        font-weight: 700;
        color: $grey-900;
        margin-top: 1.1rem;
      }
    }

    .potItems {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 1.6rem;
      flex: 2;
    }

    .potItem {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      .colorBar {
        width: 0.4rem;
        height: 4.3rem;
        border-radius: 2px;
        display: inline-block;
      }

      .pots__totals {
        font-size: $text-preset-4;
        color: $grey-900;
        font-weight: 700;
      }

      .pots__name {
        font-size: $text-preset-5;
        color: $grey-500;
        font-weight: 400;
        display: block;
        margin-bottom: 0.4rem;
      }
    }
  }
}

.rowSection {
  display: flex;
}

.budgets {
  width: 50.7rem;
  height: 41rem;
  background: $white;
  padding: 3.2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 3.2rem;
  margin-right: 4rem;
  margin-bottom: 2.4rem;

  :global(.collapsed) & {
    margin-right: -17rem;
    width: 70rem;
  }

  &__text {
    font-size: $text-preset-2;
    font-weight: 700;
    color: $grey-900;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: $grey-500;
    font-size: $text-preset-4;
    font-weight: 400;
    cursor: pointer;
  }
}

.budgets__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.1rem;
}

.budgetsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donutSegment {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: center;
}

.donutTextTop {
  font-size: 0.5rem;
  font-weight: 700;
  color: $grey-900;
}

.donutTextBottom {
  color: $grey-500;
  font-size: 0.2rem;
  font-weight: 400;
}

.budgetItem {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.budgetItems {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.budgetColor {
  width: 0.4rem;
  height: 4.3rem;
  display: inline-block;
}

.budget__texts {
  font-size: $text-preset-5;
  font-weight: 400;
  color: $grey-500;
}

.budget__total {
  font-size: $text-preset-4;
  font-weight: 700;
  color: $grey-900;
}

.bills {
  width: 50.7rem;
  height: 32.7rem;
  border-radius: 1.2rem;
  padding: 3.2rem;
  background-color: $white;

  :global(.collapsed) & {
    margin-right: -17rem;
    width: 70rem;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-size: $text-preset-2;
    font-weight: 700;
    color: $grey-900;
  }
}

.bills__cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 3.2rem;
}

.bills__card {
  display: flex;
  align-items: center;
  background-color: #f9f5f1;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 6.1rem;
}

.bills__line {
  width: 4px;
  height: 2.5rem;
  border-radius: 8px;
  margin-right: 1rem;
}

.bills__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bills__label {
  font-size: $text-preset-4;
  color: $grey-500;
  font-weight: 400;
}

.bills__amount {
  font-size: $text-preset-4;
  color: $grey-900;
  font-weight: 700;
}

.transactions {
  margin-left: 4rem;
  margin-bottom: 3.2rem;
}

.transactionCard {
  background: $white;
  padding: 3.2rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 60.8rem;
  height: 51.9rem;
}

.transaction__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.transaction__text {
  font-size: $text-preset-2;
  color: $grey-900;
  font-weight: 700;
}

.transaction__link {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  font-size: $text-preset-4;
  color: $grey-500;
  cursor: pointer;
  font-weight: 400;
}

.transaction__icon {
  width: 1.1rem;
  height: 1.1rem;
  object-fit: contain;
}

.transactionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1px solid $grey-100;
}

.transaction__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.transaction__info {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.transaction__infos {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  gap: 0.8rem;
}

.transaction__name {
  font-weight: 700;
  color: $grey-900;
  font-size: $text-preset-4;
}

.transaction__date {
  color: $grey-500;
  font-size: $text-preset-5;
  font-weight: 400;
}

.transaction__amount {
  font-weight: 700;
  color: $grey-900;
  font-size: $text-preset-4;
}

.positiveAmount {
  color: $green;
}

@media (max-width: 800px) {
  .overview {
    .card {
      width: 21.3rem;
      height: 11.9rem;
    }
  }

  .pots {
    width: 100%;
    max-width: 68.8rem;
    height: 21.8rem;
    margin: 0 4rem 0 4rem;
    margin-bottom: 2.4rem;

    .potsContent {
      .potItems {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .transactionCard {
    width: 100%;
    height: 51.9rem;
    max-width: 68.8rem;
  }

  .transactions {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .budgets {
    margin-left: 4rem;
    max-width: 68.8rem;
    width: 100%;
  }

  .budgets__icons {
    justify-content: space-around;
    gap: 1rem;
  }

  .bills {
    width: 68.8rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 3.2rem;
  }

  .rowSection {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .overview {
    .overview__text {
      margin-left: 1.6rem;
    }
    .cards {
      margin: 3.2rem 1.6rem 3.2rem 1.6rem;
    }

    .card {
      width: 100%;
      max-width: 34.3rem;
      height: 11.1rem;
    }
  }

  .pots {
    width: 100%;
    max-width: 34.3rem;
    height: 32.4rem;
    margin: 0 1.6rem 0 1.6rem;
    padding: 2.4rem 2rem;
    margin-bottom: 2.4rem;

    .potsContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 5rem;

      .totalSaved {
        padding-left: 2rem;
      }

      .potItems {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .transactionCard {
    width: 100%;
    height: 50.3rem;
    max-width: 34.3rem;
  }

  .transactions {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .budgets {
    margin-left: 1.6rem;
    max-width: 34.3rem;
    width: 100%;
    height: 48.6rem;
  }

  .budgets__icons {
    justify-content: center;
    flex-direction: column;
  }

  .budgetList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }

  .bills {
    width: 34.3rem;
    height: 31.1rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 2.4rem;
    padding: 2.4rem 2rem;
  }

  .rowSection {
    flex-direction: column;
  }
}
